app = 'midday-api-christian'
primary_region = 'iad'

[build]
  dockerfile = "Dockerfile"

[deploy]
  strategy = "immediate"

[env]
  PORT = '8080'
  NODE_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    grace_period = "30s"
    interval = "60s"
    method = "GET"
    timeout = "10s"
    path = "/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
